---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
# Οδηγίες για τις μηχανές αναζήτησης.
# Όσο ο ιστότοπος είναι υπό κατασκευή και τρέχει τοπικά, δεν έχει καμία
# πρακτική σημασία. Αν θέλεις να ΜΗΝ ευρετηριαστεί όταν ανέβει, άλλαξε το
# "Allow: /" σε "Disallow: /".
User-agent: *
Allow: /

Sitemap: {{ site.url }}/sitemap.xml
